## Part 2 : Using TF-IDF for feature engineering and model was built using Random Forest Algorithm

In [1]:
import findspark

In [2]:
findspark.init('/home/cse587/spark-2.4.0-bin-hadoop2.7')

In [3]:
import pyspark

In [4]:
from pyspark.sql import *

# Build the SparkSession
spark = SparkSession.builder \
   .appName("Assignment3p2") \
   .config("spark.some.config.option", "8gb") \
   .getOrCreate()

In [5]:
sc = spark.sparkContext
sc.setLogLevel("ERROR")

In [6]:
from pyspark.sql import SQLContext
sqlcontext=SQLContext(sc)

## Loading necessary libraries for this part

In [7]:
import numpy as np
import pandas as pd
import re
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)
import re
from pyspark.mllib.classification import LogisticRegressionWithSGD
from pyspark.mllib.regression import LabeledPoint
import numpy as np
from pyspark.ml.classification import LogisticRegression, OneVsRest
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.feature import HashingTF, IDF, Tokenizer
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import RegexTokenizer, StopWordsRemover, CountVectorizer
from pyspark.sql.functions import udf, col, lower, regexp_replace
from pyspark.sql import functions as F
from pyspark.ml import Pipeline
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler, VectorIndexer, IndexToString
from pyspark.mllib.linalg import SparseVector, DenseVector

## Loading training dataset

In [8]:

train_data = pd.read_csv("/home/cse587/Project3/train.csv",sep=",", header = 0)

In [9]:
train_data.head()

,movie_id,movie_name,plot,genre
0,23890098,Taxi Blues,"Shlykov, a hard-working taxi driver and Lyosha...","['World cinema', 'Drama']"
1,31186339,The Hunger Games,The nation of Panem consists of a wealthy Capi...,"['Action/Adventure', 'Action', 'Science Fictio..."
2,20663735,Narasimham,Poovalli Induchoodan is sentenced for six yea...,"['Musical', 'Action', 'Drama']"
3,2231378,The Lemon Drop Kid,"The Lemon Drop Kid , a New York City swindler,...",['Comedy']
4,595909,A Cry in the Dark,Seventh-day Adventist Church pastor Michael Ch...,"['Crime Fiction', 'World cinema', 'Drama']"

# Converting pandas dataframe to pyspark dataframe

In [11]:
training_df = spark.createDataFrame(train_data)
# training_df.head(1)

## Cleaning the data and creating TD-IDF

In [12]:

tokenizer = Tokenizer(inputCol="plot", outputCol="words")
wordsData = tokenizer.transform(training_df)

hashingTF = HashingTF(inputCol="words", outputCol="rawFeatures", numFeatures=20)
featurizedData = hashingTF.transform(wordsData)
# alternatively, CountVectorizer can also be used to get term frequency vectors

idf = IDF(inputCol="rawFeatures", outputCol="features")
idfModel = idf.fit(featurizedData)
rescaledData = idfModel.transform(featurizedData)

In [13]:
rescaledData.head(1)

[Row(movie_id=23890098, movie_name='Taxi Blues', plot="Shlykov, a hard-working taxi driver and Lyosha, a saxophonist, develop a bizarre love-hate relationship, and despite their prejudices, realize they aren't so different after all.", genre="['World cinema', 'Drama']", words=['shlykov,', 'a', 'hard-working', 'taxi', 'driver', 'and', 'lyosha,', 'a', 'saxophonist,', 'develop', 'a', 'bizarre', 'love-hate', 'relationship,', 'and', 'despite', 'their', 'prejudices,', 'realize', 'they', "aren't", 'so', 'different', 'after', 'all.'], rawFeatures=SparseVector(20, {1: 1.0, 5: 2.0, 6: 1.0, 8: 2.0, 9: 1.0, 10: 4.0, 11: 3.0, 13: 2.0, 15: 3.0, 17: 2.0, 18: 2.0, 19: 2.0}), features=SparseVector(20, {1: 0.0265, 5: 0.0471, 6: 0.0715, 8: 0.0286, 9: 0.0734, 10: 0.0045, 11: 0.2, 13: 0.0283, 15: 0.1344, 17: 0.0414, 18: 0.0773, 19: 0.1171}))]

In [13]:
rescaledData.show()

+--------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|movie_id|          movie_name|                plot|               genre|               words|         rawFeatures|            features|
+--------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|23890098|          Taxi Blues|Shlykov, a hard-w...|['World cinema', ...|[shlykov,, a, har...|(20,[1,5,6,8,9,10...|(20,[1,5,6,8,9,10...|
|31186339|    The Hunger Games|The nation of Pan...|['Action/Adventur...|[the, nation, of,...|(20,[0,1,2,3,4,5,...|(20,[0,1,2,3,4,5,...|
|20663735|          Narasimham|Poovalli Induchoo...|['Musical', 'Acti...|[poovalli, induch...|(20,[0,1,2,3,4,5,...|(20,[0,1,2,3,4,5,...|
| 2231378|  The Lemon Drop Kid|The Lemon Drop Ki...|          ['Comedy']|[the, lemon, drop...|(20,[0,1,2,3,4,5,...|(20,[0,1,2,3,4,5,...|
|  595909|   A Cry in the Dark|Seventh-day Adven...|['Crime Fiction',...|[seventh-day, adv...|(20,[0,1,2,3,4,5,...|(20,[0,1,2,3,4,5,...|
| 5272176|            End Game|The president is ...|['Action/Adventur...|[the, president, ...|(20,[0,1,2,3,4,5,...|(20,[0,1,2,3,4,5,...|
| 1952976|          Dark Water|{{plot}} The film...|['Thriller', 'Dra...|[{{plot}}, the, f...|(20,[0,1,2,3,4,5,...|(20,[0,1,2,3,4,5,...|
|24225279|                Sing|The story begins ...|           ['Drama']|[the, story, begi...|(20,[0,1,2,3,4,5,...|(20,[0,1,2,3,4,5,...|
| 2462689|       Meet John Doe|Infuriated at bei...|['Black-and-white...|[infuriated, at, ...|(20,[0,1,2,3,4,5,...|(20,[0,1,2,3,4,5,...|
|20532852|Destination Meatball|A line of people ...|['Animation', 'Sh...|[a, line, of, peo...|(20,[0,1,2,3,4,5,...|(20,[0,1,2,3,4,5,...|
|15401493|    Husband for Hire|Lola  attempts to...|          ['Comedy']|[lola, , attempts...|(20,[0,1,2,3,4,5,...|(20,[0,1,2,3,4,5,...|
|18188932|         Up and Down|Milan and Goran a...|['Crime Fiction',...|[milan, and, gora...|(20,[0,1,2,3,4,5,...|(20,[0,1,2,3,4,5,...|
| 2940516|Ghost In The Noon...|Bumbling pirate c...|          ['Comedy']|[bumbling, pirate...|(20,[0,1,2,3,4,5,...|(20,[0,1,2,3,4,5,...|
| 1480747|       House Party 2|{{plot}} Followin...|          ['Comedy']|[{{plot}}, follow...|(20,[0,1,2,3,4,5,...|(20,[0,1,2,3,4,5,...|
|24448645|Forest of the Dam...|Despite Lucy's re...|          ['Horror']|[despite, lucy's,...|(20,[0,1,2,3,4,5,...|(20,[0,1,2,3,4,5,...|
|15072401|Charlie Chan's Se...|Alan Colby, heir ...|['Crime Fiction',...|[alan, colby,, he...|(20,[0,1,2,3,4,5,...|(20,[0,1,2,3,4,5,...|
| 4018288|     The Biggest Fan|Debbie's favorite...|           ['Drama']|[debbie's, favori...|(20,[0,1,2,3,4,5,...|(20,[0,1,2,3,4,5,...|
| 4596602|      Ashes to Ashes|Ashes to Ashes is...|['Crime Fiction',...|[ashes, to, ashes...|(20,[0,1,2,3,4,5,...|(20,[0,1,2,3,4,5,...|
|15224586|        Green Dragon|The film follows ...|  ['Indie', 'Drama']|[the, film, follo...|(20,[0,1,2,3,4,5,...|(20,[0,1,2,3,4,5,...|
|15585766|  The Rats of Tobruk|Three friends are...|           ['Drama']|[three, friends, ...|(20,[0,1,2,3,4,5,...|(20,[0,1,2,3,4,5,...|
+--------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

Converting genre into labels using StringIndexer

In [14]:
label_stringIdx = StringIndexer(inputCol = "genre", outputCol = "label")
fitter = label_stringIdx.fit(rescaledData)
rescaledData = fitter.transform(rescaledData)
labels = fitter.labels

## Fitting Machine Learning model on the training dataset

In [15]:
(training_data,testing_data) = rescaledData.randomSplit([0.7,0.3], seed=234)

In [16]:
## Fitting Naive Bayes model on the training data

# from pyspark.ml.classification import NaiveBayes
# nb = NaiveBayes(smoothing=0.1)
# model = nb.fit(training_data)

In [16]:
## Fitting Random Forest model on the training data

from pyspark.ml.classification import RandomForestClassifier
rf = RandomForestClassifier(labelCol="label", featuresCol="features", numTrees=20, maxBins=100)
model = rf.fit(training_data)

## Saving the trained model

In [17]:
path = "/home/cse587/Project3/randomforest_for_part2"
model.save("/home/cse587/Project3/randomforest_for_part2")

In [14]:
## fitting the obtained model on validation test data
predictions = model.transform(training_data)

In [15]:
## Evaluating the accuracy of predicted labels
evaluator = MulticlassClassificationEvaluator(labelCol = "label", predictionCol="prediction")
evaluator.evaluate(predictions)

0.029308555639158743

## Loading test data from local using Pandas and converted into pyspark dataframe

In [16]:
test_data = pd.read_csv("/home/cse587/Project3/test.csv",sep=",", header = 0)
testing_df = spark.createDataFrame(test_data)
# testing_df.head(1)

## pre-processing the test data

In [17]:

tokenizer = Tokenizer(inputCol="plot", outputCol="words")
hashingTF = HashingTF(inputCol="words", outputCol="rawFeatures", numFeatures=20)
idf = IDF(inputCol="rawFeatures", outputCol="features")

pipeline = Pipeline(stages=[tokenizer, hashingTF, idf])

idfModel = pipeline.fit(training_df)
test_data2 = idfModel.transform(testing_df)

In [32]:
test_data2.head(1)

[Row(movie_id=1335380, movie_name='Exodus', plot='The film is based on the events that happened on the ship Exodus in 1947 as well as events dealing with the founding of the state of Israel in 1948. Nurse Katherine "Kitty" Fremont  is an American volunteer at the Karaolos internment camp on Cyprus, where thousands of Jews - Holocaust survivors - are being held by the British, who won\'t let them go to Palestine. They anxiously wait for the day they will be liberated. Ari Ben Canaan , a Hagannah rebel who previously was a captain in the Jewish Brigade of the British Army in the Second World War, obtains a cargo ship and smuggles 611 Jewish inmates out of the camp for an illegal voyage to Mandate Palestine before being discovered by military authorities. When the British find out that the refugees are in a ship in the harbor of Famagusta, they blockade it. The refugees stage a hunger strike, during which the camp\'s doctor dies, and Ari threatens to blow up the ship and the refugees. The British relent and allow the Exodus safe passage. Meanwhile, Kitty has grown very fond of Karen Hansen , a young Danish-Jewish girl searching for her father, from whom she was separated during the war. She has taken up the Zionist cause, much to the chagrin of Kitty, who had hoped to take young Karen to America so that she can begin a new life there. During this time, opposition to the partition of Palestine into Arab and Jewish states is heating up, and Karen\'s young beau Dov Landau  proclaims his desire to join the Irgun, a radical Zionist underground network. Dov goes to an Irgun address, only to get caught in a police trap. After he is freed, he is contacted by members of the Irgun and is interviewed by Ari Ben Canaan\'s uncle Akiva . Before swearing Dov in, Akiva forces the boy to confess that he was a Sonderkommando in Auschwitz and that he was raped by Nazis. Due to his activities, Akiva has been disowned by Ari\'s father, Barak , who heads the mainstream Jewish Agency trying to create a Jewish state through political and diplomatic means. He fears that the Irgun will damage his efforts, especially since the British have put a price on Akiva\'s head. When Dov successfully bombs the King David Hotel in an act of terrorism, leading to dozens of fatalities, Akiva is arrested and sentenced to hang. Meanwhile, Karen\'s father has been found, but he is ill in hospital in Jerusalem and does not recognize her. Karen has gone to live at Gan Dafna, a fictional Jewish kibbutz near Mount Tabor at which Ari was raised. An actual kibbutz named Dafna is located near the present Lebanese border. Kitty and Ari have fallen in love, but uncle Akiva\'s imprisonment is an obstacle, and Ari must devise a plan to free the prisoners. Dov Landau, who had managed to elude the arresting soldiers, turns himself in so that he can use his knowledge of explosives to rig the Acre prison and plan an escape route. All goes according to plan; hundreds of prisoners, including Akiva, manage to escape. For the historical incident on which this is based, see Acre Prison break. Akiva is fatally shot by British soldiers while evading a roadblock set up to catch the escaped prisoners. Ari is also badly wounded. He makes his way to Abu Yesha, an Arab village near Gan Dafna, where his lifelong friend, Taha,  is the mukhtar. Kitty is brought there and treats his wound. An independent Israel is now in plain view, but Arab nationals commanded by Mohammad Amin al-Husayni, the Grand Mufti of Jerusalem, plot to attack Gan Dafna and kill its villagers. Ari receives prior warning of this attack from Taha, and he manages to get the younger children of the town out in a mass overnight escape. Karen, ecstatic over the prospect of a new nation, finds Dov  and proclaims her love for him; Dov assures her that they will marry someday. As Karen returns to Gan Dafna, she is ambushed and killed by a gang of Arab militiamen. Dov discovers her lifeless body the following morning. That same day, the body of Taha is found hanging in his village, killed by Arab extremists with a Star of David symbol carved on his body. Karen and Taha are buried together in one grave. At the Jewish burial ceremony, Ari swears on their bodies that someday, Jews and Arabs will live together and share the land in peace, not only in death but also in life. The movie then ends with Ari, Kitty, and a Palmach contingent entering trucks and heading toward battle.', words=['the', 'film', 'is', 'based', 'on', 'the', 'events', 'that', 'happened', 'on', 'the', 'ship', 'exodus', 'in', '1947', 'as', 'well', 'as', 'events', 'dealing', 'with', 'the', 'founding', 'of', 'the', 'state', 'of', 'israel', 'in', '1948.', 'nurse', 'katherine', '"kitty"', 'fremont', '', 'is', 'an', 'american', 'volunteer', 'at', 'the', 'karaolos', 'internment', 'camp', 'on', 'cyprus,', 'where', 'thousands', 'of', 'jews', '-', 'holocaust', 'survivors', '-', 'are', 'being', 'held', 'by', 'the', 'british,', 'who', "won't", 'let', 'them', 'go', 'to', 'palestine.', 'they', 'anxiously', 'wait', 'for', 'the', 'day', 'they', 'will', 'be', 'liberated.', 'ari', 'ben', 'canaan', ',', 'a', 'hagannah', 'rebel', 'who', 'previously', 'was', 'a', 'captain', 'in', 'the', 'jewish', 'brigade', 'of', 'the', 'british', 'army', 'in', 'the', 'second', 'world', 'war,', 'obtains', 'a', 'cargo', 'ship', 'and', 'smuggles', '611', 'jewish', 'inmates', 'out', 'of', 'the', 'camp', 'for', 'an', 'illegal', 'voyage', 'to', 'mandate', 'palestine', 'before', 'being', 'discovered', 'by', 'military', 'authorities.', 'when', 'the', 'british', 'find', 'out', 'that', 'the', 'refugees', 'are', 'in', 'a', 'ship', 'in', 'the', 'harbor', 'of', 'famagusta,', 'they', 'blockade', 'it.', 'the', 'refugees', 'stage', 'a', 'hunger', 'strike,', 'during', 'which', 'the', "camp's", 'doctor', 'dies,', 'and', 'ari', 'threatens', 'to', 'blow', 'up', 'the', 'ship', 'and', 'the', 'refugees.', 'the', 'british', 'relent', 'and', 'allow', 'the', 'exodus', 'safe', 'passage.', 'meanwhile,', 'kitty', 'has', 'grown', 'very', 'fond', 'of', 'karen', 'hansen', ',', 'a', 'young', 'danish-jewish', 'girl', 'searching', 'for', 'her', 'father,', 'from', 'whom', 'she', 'was', 'separated', 'during', 'the', 'war.', 'she', 'has', 'taken', 'up', 'the', 'zionist', 'cause,', 'much', 'to', 'the', 'chagrin', 'of', 'kitty,', 'who', 'had', 'hoped', 'to', 'take', 'young', 'karen', 'to', 'america', 'so', 'that', 'she', 'can', 'begin', 'a', 'new', 'life', 'there.', 'during', 'this', 'time,', 'opposition', 'to', 'the', 'partition', 'of', 'palestine', 'into', 'arab', 'and', 'jewish', 'states', 'is', 'heating', 'up,', 'and', "karen's", 'young', 'beau', 'dov', 'landau', '', 'proclaims', 'his', 'desire', 'to', 'join', 'the', 'irgun,', 'a', 'radical', 'zionist', 'underground', 'network.', 'dov', 'goes', 'to', 'an', 'irgun', 'address,', 'only', 'to', 'get', 'caught', 'in', 'a', 'police', 'trap.', 'after', 'he', 'is', 'freed,', 'he', 'is', 'contacted', 'by', 'members', 'of', 'the', 'irgun', 'and', 'is', 'interviewed', 'by', 'ari', 'ben', "canaan's", 'uncle', 'akiva', '.', 'before', 'swearing', 'dov', 'in,', 'akiva', 'forces', 'the', 'boy', 'to', 'confess', 'that', 'he', 'was', 'a', 'sonderkommando', 'in', 'auschwitz', 'and', 'that', 'he', 'was', 'raped', 'by', 'nazis.', 'due', 'to', 'his', 'activities,', 'akiva', 'has', 'been', 'disowned', 'by', "ari's", 'father,', 'barak', ',', 'who', 'heads', 'the', 'mainstream', 'jewish', 'agency', 'trying', 'to', 'create', 'a', 'jewish', 'state', 'through', 'political', 'and', 'diplomatic', 'means.', 'he', 'fears', 'that', 'the', 'irgun', 'will', 'damage', 'his', 'efforts,', 'especially', 'since', 'the', 'british', 'have', 'put', 'a', 'price', 'on', "akiva's", 'head.', 'when', 'dov', 'successfully', 'bombs', 'the', 'king', 'david', 'hotel', 'in', 'an', 'act', 'of', 'terrorism,', 'leading', 'to', 'dozens', 'of', 'fatalities,', 'akiva', 'is', 'arrested', 'and', 'sentenced', 'to', 'hang.', 'meanwhile,', "karen's", 'father', 'has', 'been', 'found,', 'but', 'he', 'is', 'ill', 'in', 'hospital', 'in', 'jerusalem', 'and', 'does', 'not', 'recognize', 'her.', 'karen', 'has', 'gone', 'to', 'live', 'at', 'gan', 'dafna,', 'a', 'fictional', 'jewish', 'kibbutz', 'near', 'mount', 'tabor', 'at', 'which', 'ari', 'was', 'raised.', 'an', 'actual', 'kibbutz', 'named', 'dafna', 'is', 'located', 'near', 'the', 'present', 'lebanese', 'border.', 'kitty', 'and', 'ari', 'have', 'fallen', 'in', 'love,', 'but', 'uncle', "akiva's", 'imprisonment', 'is', 'an', 'obstacle,', 'and', 'ari', 'must', 'devise', 'a', 'plan', 'to', 'free', 'the', 'prisoners.', 'dov', 'landau,', 'who', 'had', 'managed', 'to', 'elude', 'the', 'arresting', 'soldiers,', 'turns', 'himself', 'in', 'so', 'that', 'he', 'can', 'use', 'his', 'knowledge', 'of', 'explosives', 'to', 'rig', 'the', 'acre', 'prison', 'and', 'plan', 'an', 'escape', 'route.', 'all', 'goes', 'according', 'to', 'plan;', 'hundreds', 'of', 'prisoners,', 'including', 'akiva,', 'manage', 'to', 'escape.', 'for', 'the', 'historical', 'incident', 'on', 'which', 'this', 'is', 'based,', 'see', 'acre', 'prison', 'break.', 'akiva', 'is', 'fatally', 'shot', 'by', 'british', 'soldiers', 'while', 'evading', 'a', 'roadblock', 'set', 'up', 'to', 'catch', 'the', 'escaped', 'prisoners.', 'ari', 'is', 'also', 'badly', 'wounded.', 'he', 'makes', 'his', 'way', 'to', 'abu', 'yesha,', 'an', 'arab', 'village', 'near', 'gan', 'dafna,', 'where', 'his', 'lifelong', 'friend,', 'taha,', '', 'is', 'the', 'mukhtar.', 'kitty', 'is', 'brought', 'there', 'and', 'treats', 'his', 'wound.', 'an', 'independent', 'israel', 'is', 'now', 'in', 'plain', 'view,', 'but', 'arab', 'nationals', 'commanded', 'by', 'mohammad', 'amin', 'al-husayni,', 'the', 'grand', 'mufti', 'of', 'jerusalem,', 'plot', 'to', 'attack', 'gan', 'dafna', 'and', 'kill', 'its', 'villagers.', 'ari', 'receives', 'prior', 'warning', 'of', 'this', 'attack', 'from', 'taha,', 'and', 'he', 'manages', 'to', 'get', 'the', 'younger', 'children', 'of', 'the', 'town', 'out', 'in', 'a', 'mass', 'overnight', 'escape.', 'karen,', 'ecstatic', 'over', 'the', 'prospect', 'of', 'a', 'new', 'nation,', 'finds', 'dov', '', 'and', 'proclaims', 'her', 'love', 'for', 'him;', 'dov', 'assures', 'her', 'that', 'they', 'will', 'marry', 'someday.', 'as', 'karen', 'returns', 'to', 'gan', 'dafna,', 'she', 'is', 'ambushed', 'and', 'killed', 'by', 'a', 'gang', 'of', 'arab', 'militiamen.', 'dov', 'discovers', 'her', 'lifeless', 'body', 'the', 'following', 'morning.', 'that', 'same', 'day,', 'the', 'body', 'of', 'taha', 'is', 'found', 'hanging', 'in', 'his', 'village,', 'killed', 'by', 'arab', 'extremists', 'with', 'a', 'star', 'of', 'david', 'symbol', 'carved', 'on', 'his', 'body.', 'karen', 'and', 'taha', 'are', 'buried', 'together', 'in', 'one', 'grave.', 'at', 'the', 'jewish', 'burial', 'ceremony,', 'ari', 'swears', 'on', 'their', 'bodies', 'that', 'someday,', 'jews', 'and', 'arabs', 'will', 'live', 'together', 'and', 'share', 'the', 'land', 'in', 'peace,', 'not', 'only', 'in', 'death', 'but', 'also', 'in', 'life.', 'the', 'movie', 'then', 'ends', 'with', 'ari,', 'kitty,', 'and', 'a', 'palmach', 'contingent', 'entering', 'trucks', 'and', 'heading', 'toward', 'battle.'], rawFeatures=SparseVector(20, {0: 58.0, 1: 37.0, 2: 32.0, 3: 56.0, 4: 19.0, 5: 47.0, 6: 29.0, 7: 22.0, 8: 62.0, 9: 23.0, 10: 87.0, 11: 21.0, 12: 52.0, 13: 55.0, 14: 28.0, 15: 20.0, 16: 30.0, 17: 42.0, 18: 40.0, 19: 26.0}), features=SparseVector(20, {0: 1.3448, 1: 0.9798, 2: 1.5166, 3: 0.5936, 4: 1.3614, 5: 1.1068, 6: 2.0739, 7: 1.6661, 8: 0.8872, 9: 1.6885, 10: 0.0979, 11: 1.3998, 12: 1.4475, 13: 0.7781, 14: 1.4566, 15: 0.896, 16: 0.8698, 17: 0.8689, 18: 1.5454, 19: 1.5222}))]

## Predicting the test labels by fitting the trained model

In [18]:
test_pred2 = model.transform(test_data2)

## converted the predicted labels to its corresponding genre
converter = IndexToString(inputCol="prediction", outputCol="originalCategory", labels = labels)
test_result = converter.transform(test_pred2)
# test_result.show(2)

## Loading the mapping.csv into a dataframe

In [19]:
mapping = pd.read_csv('/home/cse587/Project3/mapping.csv')
colnames = ['label','name']
mapping.columns =colnames
mapping_df = sqlContext.createDataFrame(mapping)
# valuelist = [row.name for row in mapping_df.collect()]
mapping.head()

   number          name
0       0         Drama
1       1        Comedy
2       2  Romance Film
3       3      Thriller
4       4        Action

In [20]:
def convert(lines):
    lines = lines[1:-1].split(', ')
    temp=[0]*20
    for i in lines:   
        for k,v in mapping.iterrows():
            if i == ('\''+ v['name'] +'\''):
                temp[k] = 1
                continue
    return " ".join(map(str,temp))

# s = "['Musical', 'Mystery']"
# print(convert(s))
converter = udf(convert)
test_result = test_result.withColumn("predictions",converter('originalCategory'))

## Extracting the final dataframe

In [21]:
part2_result = test_result.select("movie_id","predictions")
# part2_result = part2_result.withColumnRenamed("final_prediction","predictions")

## Saving the predicted results in .csv file

In [22]:
part2_result.write.csv('part2_test_result_rf.csv', header = True)

In [23]:
part2_result.show(1)

+--------+--------------------+
|movie_id|         predictions|
+--------+--------------------+
| 1335380|1 0 0 0 0 0 0 0 0...|
+--------+--------------------+
only showing top 1 row